# Vivado / Simulator Artifacts
*.log
*.jou
*.pb
*.wdb
*.vcd
xsim.dir/
.Xil/
*dfx_runtime.txt


# OS and Office specific files
__pycache__/
*.pyc
Thumbs.db
Desktop.ini
.DS_Store
~$*
# Compiler intermediate binaries
*.elf
*.bin
_tmp_*

# Vivado project caches & runs
vivado_project/*.cache/
vivado_project/*.hw/
vivado_project/*.ip_user_files/
vivado_project/*.runs/
vivado_project/*.sim/
feature_1/vivado_project/*.cache/
feature_1/vivado_project/*.hw/
feature_1/vivado_project/*.ip_user_files/
feature_1/vivado_project/*.runs/
feature_1/vivado_project/*.sim/
feature_1/vivado_project/*.srcs/
feature_2/vivado_project/*.cache/
feature_2/vivado_project/*.hw/
feature_2/vivado_project/*.ip_user_files/
feature_2/vivado_project/*.runs/
feature_2/vivado_project/*.sim/
feature_2/vivado_project/*.srcs/
*.dcp

